.person {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-info {
  border-radius: 20px;
  background-color: black;
  color: #ecd014;
  padding: 10px 50px;
  letter-spacing: 1.5px;
}
.person > div {
  margin: 20px;
  margin-left: 30px;
}
.person-info h1 {
  text-align: center;
}
.person-info > h3 {
  color: white;
}
.go-back-button {
  background-color: #ecd014;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.person_image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
